<div class="navbar bg-white box-shadow justify-content-center">
  <nav class="nav nav-pills">
    <a id="nav_topics" class="nav-link" routerLink="/search/topic" [queryParams]="{q:q}">
      Topics <i class="far fa-comments"></i>
    </a>
    <a id="nav_posts" class="nav-link" routerLink="/search/post" [queryParams]="{q:q}">
      Posts <i class="fas fa-align-left"></i>
    </a>
    <a id="nav_users" class="nav-link active" routerLink="/search/user" [queryParams]="{q:q}">
      Users <i class="fas fa-users"></i>
    </a>
  </nav>
</div>
<br/>

<div *ngFor="let user of users" >
  <app-profile-preview [profile]="user"></app-profile-preview>
  <br>
</div>
