<div class="card border-secondary" id="post_n_{{post.title}}">
  <div class="card-body">
    <div class="card-title"><a routerLink="">{{post.title}}</a>
    </div>
    <h6 class="card-subtitle text-muted">Submitted by <a routerLink="">{{post.userOP.username}}</a>
      to topic <a routerLink=""> {{post.topic.name}} </a> on {{post.date}}</h6>
  </div>

  <div class="card-footer">
    <button class="btn btn-sm btn-dark"><i class="far fa-comment"></i> {{post.nComments}} Commments
    </button>
  </div>
</div>
