<div class="navbar bg-white box-shadow justify-content-center">
  <nav class="nav nav-pills">
    <a id="nav_topics" routerLinkActive="active" class="nav-link" (click)="searchTopics()">
      Topics <i class="far fa-comments"></i>
    </a>
    <a id="nav_posts" routerLinkActive="active" class="nav-link" (click)="searchPosts()">
      Posts <i class="fas fa-align-left"></i>
    </a>
    <a id="nav_users" routerLinkActive="active" class="nav-link" (click)="searchUsers()">
      Users <i class="fas fa-users"></i>
    </a>
  </nav>
</div>
<br/>

<router-outlet></router-outlet>
