<app-profile></app-profile>
<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <form method="post" action="." #privacyForm="ngForm" (submit)="privacyForm.form.valid && onChangePrivacy()">
    <div class="card bg-white">
      <div class="card-header">
        <strong>Privacy </strong>
      </div>
      <div class="card-body">
        <table class="table table-user-information">
          <tbody>
          <tr>
            <td>Users that can see my private information:</td>
            <td>
              <select name="profile_info_permission" [(ngModel)]="profile.profile_info_permission" class="form-control" required>
                <option *ngFor="let p of privacyChoices" [ngValue]="p.id">{{p.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Users that can see my friends in my Profile:</td>
            <td>
              <select name="profile_friends_permission" [(ngModel)]="profile.profile_friends_permission" class="form-control" required>
                <option *ngFor="let p of privacyChoices" [ngValue]="p.id">{{p.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Users that can see my topics through my profile:</td>
            <td>
              <select name="profile_topics_permission" [(ngModel)]="profile.profile_topics_permission" class="form-control" required>
                <option *ngFor="let p of privacyChoices" [ngValue]="p.id">{{p.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Users that can see my posts through my profile:</td>
            <td>
              <select name="profile_posts_permission" [(ngModel)]="profile.profile_posts_permission" class="form-control" required>
                <option *ngFor="let p of privacyChoices" [ngValue]="p.id">{{p.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Users that can see my comments through my profile:</td>
            <td>
              <select name="profile_comments_permission" [(ngModel)]="profile.profile_comments_permission" class="form-control" required>
                <option *ngFor="let p of privacyChoices" [ngValue]="p.id">{{p.name}}</option>
              </select>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="float-right">
          <a routerLink="/user/{{ profile.user.username }}/page" class="btn btn-danger"><i class="fas fa-ban"></i>
            Cancel</a>
          <button type="submit" class="btn btn-success" [disabled]="!privacyForm.form.valid"><i class="fas fa-check"></i> Save Privacy Settings</button>
        </div>
      </div>
    </div>
  </form>
</div>
