

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/topic/{{post.topic.name}}">{{ post.topic.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
  </ol>
</nav>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <!-- upvote/downvote post -->
          <div id="topic" class="upvote">
            <span id="post_score" class="count">{{ getPostScore(post) }}</span>

          </div>
        </div>
        <div class="col-10">
          <h4 class="card-title">{{ post.title }}</h4>
          <h5 class="card-subtitle mb-2 text-muted">Submited by {{ post.userOP.username }} at {{ post.date| date: 'dd/MM/yyyy HH:mm' }}</h5>
          <h6 class="card-subtitle mb-3 text-muted"> {{ post.nComments }} comment(s) </h6>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p style="white-space:pre-wrap" class="card-text">{{ post.content }}</p>
    </div>
    <div class="card-footer">
      <div class="btn-group" role="group" aria-label="Action Buttons">
        <button type="button" class="btn btn-sm btn-dark" data-toggle="collapse"
                data-target="#coll2"
                aria-expanded="false" aria-controls="collapseExample2">
          <i class="far fa-comment"></i> Comment
        </button>
        <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse"
                data-target="#coll1"
                aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-share-alt"></i> Share
        </button>
        <button type="button" id="unsave_post"
                class="btn btn-sm btn-warning"><i
          class="fas fa-ban"></i> Don't Save
        </button>
        <button type="button" id="save_post"
                class="btn btn-sm btn-success"><i class="far fa-save"></i> Save
        </button>
        <button type="button" id="hide_post"
                class="btn btn-sm btn-danger"><i class="far fa-eye-slash"></i> Hide
        </button>
        <a href=""
        class="btn btn-sm btn-outline-primary"><i class="far fa-edit"></i> Edit
        </a>
        <a href=""
        class="btn btn-sm btn-outline-primary"><i class="far fa-trash-alt"></i> Remove
        </a>

        <!--users cant report their own posts..-->
        <a href=""
        class="btn btn-sm btn-outline-primary"><i class="far fa-flag"></i> Report
        </a>
        <button type="button" id="show_post"
                class="btn btn-sm btn-secondary"><i
          class="fas fa-eye"></i> Show
        </button>
      </div>
      <div class="collapse" id="coll1">
        <br>

      </div>
      <div class="collapse" id="coll2">
        <br>
        <form action="." method="post">

          <div class="card bg-white text-center">
            <div class="card-header" style="align-content: center">

            </div>
            <div class="card-footer">
              <button class="btn btn-light float-right" type="submit">Send <i class="far fa-paper-plane"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="comments-container">
    <h3 class="text-centert text-muted">Comments:</h3>
    <ul id="comments-list" class="comments-list">
      <div *ngFor="let comment of comments">
        <div *ngIf="comment.reply === null">
        <li>
          <div class="comment-main-level">
            <!-- Avatar -->
            <div class="comment-avatar">
              <img src="" alt="">
            </div>                        <!-- commentary box -->
            <div class="comment-box border rounded">
              <div class="comment-head">
                <div *ngIf="comment.user.username == post.userOP.username; else non_op">
                  <span style="padding-right: 10px">
                    <a class="badge badge-pill badge-dark"> {{ comment.user.username }}</a>
                  </span>
                </div>
                <ng-template #non_op>
                  <span style="padding-right: 10px">
                    <a class="badge badge-pill badge-primary">{{ comment.user.username }}
                    </a>
                  </span>
                </ng-template>
                <span> {{ comment.date | date: 'dd/MM/yyyy HH:mm' }}, Score: <p style="display:inline" id="score_{{ comment.id }}">{{ getCommentScore(comment) }}</p></span>

                <div class="btn-group-sm float-right" role="group" aria-label="...">
                  <button class="btn btn-dark btn-sm">
                    <i class="fas fa-reply"></i> Reply
                  </button>
                  <button id="downvote_comment_{{ comment.id }}" class="btn">
                    <i class="fa fa-chevron-down"></i>
                  </button>
                  <button id="upvote_comment_{{ comment.id }}" class="btn">
                    <i class="fa fa-chevron-up"></i>
                  </button>
                </div>
              </div>
              <div class="comment-content">
                {{ comment.text }}
              </div>
            </div>
          </div>
          <div style="margin-left:90px; display: none" id="add_reply_{{ comment.id }}">
            <form action="." method="post">
              <!-- Hidden input for parent comment.id -->
              <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
              <button class="btn btn-primary btn-sm" type="submit">Save</button>
            </form>
          </div>
          <div *ngFor="let reply of getCommentReplies(comment)">
            <ul class="comments-list reply-list">
              <li>
                <!-- Avatar -->
                <div class="comment-avatar">
                  <img src="{{ reply }}" alt="">
                </div>
                <div class="comment-box">
                  <div class="comment-head">
                    <div *ngIf="reply.user.username == post.userOP.username; else non_op">
                      <span style="padding-right: 10px">
                        <a class="badge badge-pill badge-dark"> {{ reply.user.username }}</a>
                      </span>
                    </div>
                    <ng-template #non_op>
                      <span style="padding-right: 10px">
                        <a class="badge badge-pill badge-primary">{{ reply.user.username }}
                        </a>
                      </span>
                    </ng-template>
                    <span> {{ comment.date | date: 'dd/MM/yyyy HH:mm' }}, Score: <p style="display:inline" id="score_{{ reply.id }}">{{ getCommentScore(reply) }}</p></span>

                    <div class="btn-group-sm float-right" role="group" aria-label="...">
                      <button id="downvote_comment_{{ reply.id }}" class="btn">
                        <i class="fa fa-chevron-down"></i>
                      </button>
                      <button id="upvote_comment_{{ reply.id }}" class="btn">
                        <i class="fa fa-chevron-up"></i>
                      </button>
                    </div>
                  </div>
                  <div class="comment-content">
                    {{ reply.text }}
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </li>
        </div>
      </div>
    </ul>
  </div>
</div>
