
{% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Notifications <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li>
                <a href="#" class="dropdown-item">
                    <div>
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="dropdown-divider"></li>
            <li>
                <a href="#" class="dropdown-item">
                    <div>
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small">12 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="dropdown-divider"></li>
            <a href="#" class="dropdown-item">
                <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
            <li class="dropdown-divider"></li>
            <a class="text-center text-muted dropdown-item" href="{% url 'notifications' %}">
                <strong>View All</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>

    <li class="nav-item"><!-- /dropdown -->
        <a class="nav-link" href="{% url 'user' username=user.username %}">
            <i class="far fa-user"></i> {{ user.username }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#signIn" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt"></i>Logout
        </a>
    </li>
{% else %}
    <!-- Buttons trigger modal -->
    <a class="nav-link" href="#signIn" data-toggle="modal" data-target="#loginModal">
        <i class="fas fa-sign-in-alt"></i> Log In
    </a>
    <a class="nav-link" href="#signUp" data-toggle="modal" data-target="#signupModal">
        <i class="fas fa-user-plus"></i> Sign Up
    </a>
{% endif %}
