
{% if user.is_authenticated %}
    <li class="nav-item"><!-- /dropdown -->
        <a class="nav-link" href="{% url 'notifications' %}">
            <i class="fas fa-bell"></i> Notifications
        </a>
    </li>

    <li class="nav-item"><!-- /dropdown -->
        <a class="nav-link" href="{% url 'home' %}">
            <i class="far fa-user"></i> {{ user.username }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#signIn" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt"></i>Logout
        </a>
    </li>
{% else %}
    <!-- Buttons trigger modal -->
    <a class="nav-link" href="#signIn" data-toggle="modal" data-target="#loginModal">
        <i class="fas fa-sign-in-alt"></i> Log In
    </a>
    <a class="nav-link" href="#signUp" data-toggle="modal" data-target="#signupModal">
        <i class="fas fa-user-plus"></i> Sign Up
    </a>
{% endif %}
