{% if items.has_other_pages %}
    <div class="text-center">
        <div class="col-6 offset-3 text-center pagination-set">
            <nav aria-label="">
                <ul class="pagination" style="justify-content: center;">
                    {% if items.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 style="background-color: #ffd536; color: #1e415e; border: #1e415e;"
                                                 href="?page={{ items.previous_page_number }}&{{ get_param }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link"
                                                          style="background-color: #ffd536; color: #1e415e; border: #1e415e;"><span>Previous</span></a>
                        </li>
                    {% endif %}
                    {% for i in page_range %}
                        {% if items.number == i %}
                            <li class="page-item active"><a class="page-link"
                                                            style="background-color: #1e415e; border: #1e415e;"
                                                            href="#">{{ i }} <span
                                    class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link"
                                                     style="background-color: #ffd536; color: #1e415e; border: #1e415e;"
                                                     href="?page={{ i }}&{{ get_param }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 style="background-color: #ffd536; color: #1e415e; border: #1e415e;"
                                                 aria-label="Next"
                                                 href="?page={{ items.next_page_number }}&{{ get_param }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link"
                                                          style="background-color: #ffd536; color: #1e415e; border: #1e415e;"><span>Next</span></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endif %}