{% extends 'layout.html' %}
{% block styles %}

    <link rel="stylesheet" type="text/css" href="/static/content/comments.css">
    <link rel="stylesheet" type="text/css" href="/static/content/jquery.upvote.css">

{% endblock %}
{% load app_extras %}
{% block pagename %}{{ post.title }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "topic"  topicName=topicName %}">{{ topicName }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
        <div class="col-2">
            <div id="topic" class="upvote">
            <a class="upvote upvote-on"></a>
            <span class="count">6</span>
            <a class="downvote"></a>
            <a class="star"></a>
        </div>

        </div>
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Submited by {{ post.userOP.username }} at {{ post.date }}</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post.content|linebreaks }}</p>
                </div>
                {% if user.is_authenticated %}
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Action Buttons">
                            <button type="button" class="btn btn-sm btn-dark" data-toggle="collapse"
                                    data-target="#coll2"
                                    aria-expanded="false" aria-controls="collapseExample2">
                                <i class="far fa-comment"></i> Comment
                            </button>
                            <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse"
                                    data-target="#coll1"
                                    aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-share-alt"></i> Share
                            </button>
                            <button type="button" id="unsave_post" onclick="func_unsave_post({{ post.id }})"
                                    class="btn btn-sm btn-warning"
                                    {% if not request.user.profile in post.userSaved.all %} hidden {% endif %}><i
                                    class="fas fa-ban"></i> Don't Save
                            </button>
                            <button type="button" id="save_post" onclick="func_save_post({{ post.id }})"
                                    class="btn btn-sm btn-success" {% if request.user.profile in post.userSaved.all %}
                                    hidden {% endif %}><i class="far fa-save"></i> Save
                            </button>
                            <button type="button" id="hide_post" onclick="func_hide_post({{ post.id }})"
                                    class="btn btn-sm btn-danger" {% if request.user.profile in post.userHidden.all %}
                                    hidden {% endif %}><i class="far fa-eye-slash"></i> Hide
                            </button>
                            <button type="button" id="show_post" onclick="func_show_post({{ post.id }})"
                                    class="btn btn-sm btn-secondary"
                                    {% if not request.user.profile in post.userHidden.all %} hidden {% endif %}><i
                                    class="fas fa-eye"></i> Show
                            </button>
                        </div>
                        <div class="collapse" id="coll1">
                            <br>
                            {% load social_share %}
                            {% url "post" topicName=post.topic.name postID=post.id as relative_url %}
                            {% with request.get_host|add:relative_url as final_url %}
                                {% post_to_facebook final_url %}
                                {% post_to_reddit post.title final_url %}
                                {% post_to_gplus final_url %}
                                {% post_to_twitter post.title final_url %}
                                {% post_to_linkedin final_url %}
                            {% endwith %}
                        </div>
                        <div class="collapse" id="coll2">
                            <br>
                            <form action="." method="post">
                                {% csrf_token %}
                                <div class="card bg-white text-center">
                                    <div class="card-header">
                                            {{ form.comment }}
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-light float-right" type="submit">Send <i class="far fa-paper-plane"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="comments-container">
            <h3 class="text-centert text-muted">Comments: </h3>
            <ul id="comments-list" class="comments-list">
                {% for comment in comments %}
                    {# check if the comment is a reply. #}
                    {% if comment.reply == None %}
                        <li>
                            <div class="comment-main-level">
                                <!-- Avatar -->
                                <div class="comment-avatar">
                                    <img src="{{ MEDIA_URL }}{{ comment.user.profile.user_picture }}" alt="">
                                </div>                        <!-- commentary box -->
                                <div class="comment-box border rounded">
                                    <div class="comment-head">
                                        {% if comment.user.username == post.userOP.username %}
                                            <span style="padding-right: 10px">
                                                <a class="badge badge-pill badge-dark" href="{% url 'user' username=comment.user.username %}">{{ comment.user.username }}</a>
                                            </span>
                                        {% else %}
                                            <span style="padding-right: 10px">
                                                <a class="badge badge-pill badge-primary" href="{% url 'user' username=comment.user.username %}">{{ comment.user.username }}
                                                </a>
                                            </span>
                                        {% endif %}
                                        <span> {{ comment.date }}, Score: {{ comment.userUpVotesComments.count|subtract:comment.userDownVotesComments.count }}</span>

                                        <div class="btn-group-sm float-right" role="group" aria-label="...">
                                            <button class="btn btn-dark btn-sm" onclick="myFunction({{ comment.id }})">
                                                <i class="fas fa-reply"></i> Reply
                                            </button>
                                            <button id="downvote_comment_{{ comment.id }}" onclick="downvote_comment({{ comment.id }})" class="btn {% if request.user.profile in comment.userDownVotesComments.all %} btn-danger {% endif %}">
                                                <i class="fa fa-chevron-down"></i>
                                            </button>
                                            <button id="upvote_comment_{{ comment.id }}" onclick="upvote_comment({{ comment.id }})" class="btn {% if request.user.profile in comment.userUpVotesComments.all %} btn-success {% endif %}">
                                                <i class="fa fa-chevron-up"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        {{ comment.text }}
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left:90px; display: none" id="add_reply_{{ comment.id }}">
                                <form action="." method="post">
                                    {% csrf_token %}
                                    <!-- Hidden input for parent comment.id -->
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
                                    {{ form.comment }}
                                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                </form>
                            </div>
                            <!-- comment replies -->
                            {% for reply in comment.replies.all %}
                                <ul class="comments-list reply-list">
                                    <li>
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img
                                                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png"
                                                alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                {% if reply.user.username == post.userOP.username %}
                                                    <h6 class="comment-name by-author"><a
                                                            href="#">{{ reply.user.username }}</a></h6>
                                                {% else %}
                                                    <h6><a href="#">{{ reply.user.username }}</a></h6>
                                                {% endif %}
                                                <span>{{ reply.date }}</span>
                                                <span> {{ comment.date }}, Score: {{ comment.userUpVotesComments.count|subtract:comment.userDownVotesComments.count }}</span>

                                            <div class="btn-group-sm float-right" role="group" aria-label="...">
                                                <button class="btn btn-dark btn-sm" onclick="myFunction({{ comment.id }})">
                                                    <i class="fas fa-reply"></i> Reply
                                                </button>
                                                <button id="downvote_comment_{{ comment.id }}" onclick="downvote_comment({{ comment.id }})" class="btn {% if request.user.profile in comment.userDownVotesComments.all %} btn-danger {% endif %}">
                                                    <i class="fa fa-chevron-down"></i>
                                                </button>
                                                <button id="upvote_comment_{{ comment.id }}" onclick="upvote_comment({{ comment.id }})" class="btn {% if request.user.profile in comment.userUpVotesComments.all %} btn-success {% endif %}">
                                                    <i class="fa fa-chevron-up"></i>
                                                </button>
                                            </div>
                                            </div>
                                            <div class="comment-content">
                                                {{ reply.text }}
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            {% endfor %}
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        function func_save_post(post_id) {
            $.ajax(
                {
                    type: "POST",
                    url: "{% url 'post_save' 1 %}".replace("1", post_id),
                    success: function (result) {
                        console.log(result);
                        $('#save_post').attr("hidden", true);
                        $('#unsave_post').attr("hidden", false);
                    }
                });
        }

        function func_unsave_post(post_id) {
            $.ajax(
                {
                    type: "POST",
                    url: "{% url 'post_unsave' 1 %}".replace("1", post_id),
                    success: function (result) {
                        console.log(result);
                        $('#save_post').attr("hidden", false);
                        $('#unsave_post').attr("hidden", true);
                    }
                });
        }

        function func_hide_post(post_id) {
            $.ajax(
                {
                    type: "POST",
                    url: "{% url 'post_hide' 1 %}".replace("1", post_id),
                    success: function (result) {
                        console.log(result);
                        $('#hide_post').attr("hidden", true);
                        $('#show_post').attr("hidden", false);
                    }
                });
        }


        function func_show_post(post_id) {
            $.ajax(
                {
                    type: "POST",
                    url: "{% url 'post_show' 1 %}".replace("1", post_id),
                    success: function (result) {
                        console.log(result);
                        $('#hide_post').attr("hidden", false);
                        $('#show_post').attr("hidden", true);
                    }
                });
        }
    </script>

    <!-- https://bootsnipp.com/snippets/459K9-->
{% endblock %}


{% block scripts %}
        function myFunction(topic_id) {
            var x = document.getElementById("add_reply_" + topic_id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function upvote_comment(comment_id) {
            var upbtn = $('#upvote_comment_'+comment_id);
            var downbtn = $('#downvote_comment_'+comment_id);
            if (upbtn.hasClass("btn-success")) { //remove upvote
                upbtn.removeClass('btn-success');
            } else {
                upbtn.addClass('btn-success');
                if (downbtn.hasClass('btn-danger')) { //remove downvote, and upvote
                    downbtn.removeClass('btn-danger');
                }
            }
            $.ajax(
                {
                    type: "POST",
                    url: "/vote_comment/",
                    data: JSON.stringify({'vote': "up", "comment_id": comment_id}),
                    dataType: "json",
                    success: function (result) {
                    }
                });
        }

        function downvote_comment(comment_id) {
            var upbtn = $('#upvote_comment_'+comment_id);
            var downbtn = $('#downvote_comment_'+comment_id);
            if (downbtn.hasClass("btn-danger")) { //remove upvote
                downbtn.removeClass('btn-danger');
            } else {
                downbtn.addClass('btn-danger');
                if (upbtn.hasClass('btn-success')) { //remove downvote, and upvote
                    upbtn.removeClass('btn-success');
                }
            }
            $.ajax(
                {
                    type: "POST",
                    url: "/vote_comment/",
                    data: JSON.stringify({'vote': "down", "comment_id": comment_id}),
                    dataType: "json",
                    success: function (result) {
                    }
                });
        }
{% endblock %}