{% extends "layout.html" %}

{% load staticfiles%}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/profile_styles.css' %}"/>
{% endblock %}

<!-- Navigation-->
{% block content %}
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-dark sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link {% if sidebar == 'user_page' %}active{% endif %}" href="{% url 'user' username=profile_user.username %}"><i class="fas fa-user-circle"></i> Profile</a>
            </li>
            {% if request.user.is_authenticated %}
                {% ifequal profile_user.username request.user.username %}
                    <li class="nav-item">
                        <a class="nav-link {% if sidebar == 'user_settings' %}active{% endif %}"
                           href="{% url 'user_settings' username=profile_user.username %}"><i class="fas fa-cog"></i>
                            Account Settings</a>
                    </li>
                {% endifequal %}
            {% endif %}
        </ul>

        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link {% if sidebar == 'user_friends' %}active{% endif %}" href="{% url 'user_friends' username=profile_user.username %}"><i class="fas fa-users"></i> Friends</a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseTopics">
                    <i class="far fa-comments"></i> Topics
                </a>
                <ul class="sidenav-second-level collapse" id="collapseTopics">
                    {% if request.user.is_authenticated %}
                        {% ifequal profile_user.username request.user.username %}
                            <div class="nav-item">
                                <a href="{% url 'topic_create' %}" class="nav-link">Create Topic</a>
                            </div>
                        {% endifequal %}
                    {% endif %}
                    <div class="nav-item">
                        <a href="{% url 'user_topics_created' username=profile_user.username %}" class="nav-link {% if sidebar == 'user_topic_created' %}active{% endif %}">My Topics</a>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'user_topics_subscriptions' username=profile_user.username %}" class="nav-link  {% if sidebar == 'user_topic_subscriptions' %}active{% endif %}">Subscribed</a>
                    </div>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts">
                    <i class="fas fa-align-left"></i> Posts
                </a>
                <ul class="sidenav-second-level collapse" id="collapsePosts">
                    <div class="nav-item">
                        <a href="{% url 'user_posts' username=profile_user.username %}" class="nav-link {% if sidebar == 'user_posts' %}active{% endif %}">My Posts</a>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'user_posts_saved' username=profile_user.username %}" class="nav-link {% if sidebar == 'user_posts_saved' %}active{% endif %}">Saved</a>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'user_posts_hidden' username=profile_user.username %}" class="nav-link {% if sidebar == 'user_posts_hidden' %}active{% endif %}">Hidden</a>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'user_posts_upvoted' username=profile_user.username %}" class="nav-link {% if sidebar == 'user_posts_upvoted' %}active{% endif %}">Upvoted</a>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'user_posts_downvoted' username=profile_user.username %}" class="nav-link {% if sidebar == 'user_posts_downvoted' %}active{% endif %}">Downvoted</a>
                    </div>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComments">
                    <i class="far fa-comment-alt"></i> Comments
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComments">
                    <div class="nav-item">
                        <a href="{% url 'user_comments' username=profile_user.username %}" class="nav-link {% if sidebar == 'user_comments' %}active{% endif %}">My Comments</a>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'user_comments_upvoted' username=profile_user.username %}" class="nav-link {% if sidebar == 'user_comments_upvoted' %}active{% endif %}">Upvoted</a>
                    </div>
                    <div class="nav-item">
                        <a href="{% url 'user_comments_downvoted' username=profile_user.username %}" class="nav-link {% if sidebar == 'user_comments_downvoted' %}active{% endif %}">Downvoted</a>
                    </div>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    {% block profileContent %}
    {% endblock %}
</div>
{% endblock %}

