{% extends 'profile.html' %}

{% block profileContent %}
    <form method="post" action=".">
        {% csrf_token %}
        <div class="card">
            <div class="card-header bg-secondary text-white">
                <strong> Change Password </strong>
            </div>
            <div class="card-body">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Current Password:</td>
                                <td>
                                    {{ form.old_password }}
                                    <div class="validation-summary-errors">
                                        {{ form.errors.old_password }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>New Password:</td>
                                <td>
                                    {{ form.new_password1 }}
                                    <div class="validation-summary-errors">
                                        {{ form.errors.new_password1 }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Confirm New Password: </td>
                                <td>
                                    {{ form.new_password2 }}
                                    <div class="validation-summary-errors">
                                        {{ form.errors.new_password2 }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div class="card-footer">
                <div class="float-right">
                    <a href="{% url 'user' username=user.username %}" class="btn btn-danger"><i class="fas fa-ban"></i>
                            Cancel</a>
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Save Password</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}