{% extends "profile.html" %}
{% block pagename %} Friends {% endblock %}
{% block profileContent %}
    <div class="card bg-white">
        <div class="card-header bg-dark text-white">
            <div>
                <strong>{{ profile_user.username }} friends </strong>
            </div>
        </div>
        <div class="card-body">
            <hr>
            {% for f in friends %}
                {% include "user_preview.html" with user=f%}
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
