{% extends 'layout.html' %}
{% block pagename %}New Post{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            You must be signed in to report something!
        </div>
    {% endif %}
    <div class="row">
    <div class="col-8">
        <h1>Report {{ topic.name }}</h1>

    {% if user.is_authenticated %}
        <form action="." method="post">
            {% csrf_token %}
        {% csrf_token %}
            <table class="table table-user-information">
                <tbody>
                <tr>
                    <td>Title</td>
                    <td>{{ form.title }}
                        {% if form.title.errors %}
                            <div class="col-4 alert alert-danger">
                                <ul class="errorlist">
                                    {% for error in form.title.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Your Post</td>
                    <td>{{ form.content }}
                        {% if form.content.errors %}
                            <div class="col-4 alert alert-danger">
                                <ul class="errorlist">
                                    {% for error in form.content.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        {{ form.check_if_isedit }}
            <button type="submit" class="btn btn-success"><i class="fas fa-plus-square"></i>
                {% if edit == True%}Edit Post{% else %}Submit Post{% endif %}</button>
        </form>
    {% endif %}
    </div>
    <div class="col-4">
        <br/>
        <br/>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> Remember the rules! </h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
            </div>
            <div class="card-body">{{ topic.rules| linebreaksbr }} </div>
        </div>
    </div>
    </div>


{% endblock %}