{% extends 'layout.html' %}
{% block pagename %}Report Post{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            You must be signed in to report something!
        </div>
    {% endif %}
    <div class="row">
    <div class="col-12">
        <h1 class="text-center">Report Post:</h1>
        <h4 class="text-center">"{{ post.title }}"</h4>
        <p style="font-size:15px;color:#5C5C5C;">Please, specify why you think this post should be elimnated.<br/>
            (Example: Doesn't follow some of all of the rules; This post was stolen from me; It contains personal info, etc</p>
        <br/>
        <form action="{% url "post_report" postID=post.id %}" method="post">
            {% csrf_token %}
            <table class="table table-user-information">
                <tbody>
                <tr>
                    <td>Comment</td>
                    <td>{{ form.comment }}
                        {% if form.comment.errors %}
                            <div class="col-4 alert alert-danger">
                                <ul class="errorlist">
                                    {% for error in form.comment.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>
                Confirm Report</button>
        </form>
    </div>
    </div>


{% endblock %}