{% extends 'layout.html' %}
{% block pagename %}{{ currentTopic.name }}{% endblock %}

{% block content %}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{currentTopic.name}}</h1>
          <p class="lead my-3">{{currentTopic.description}}</p>
        </div>
      </div>

    <h1>Posts:</h1>
    {% for e in posts %}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ e.name }} </h5>
                <h6 class="card-subtitle mb-2 text-muted">Submitted by user <a>{{ e.userOP.userName }}<a/>
                    on {{ e.date }}</h6>
            </div>
            <div class="card-body">{{ e.content }} </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}