{% extends 'layout.html' %}
{% block pagename %}{{ currentTopic.name }}{% endblock %}

{% block content %}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="row">
            <div class="col-md-8 px-0">
              <h1 class="display-4 font-italic">{{currentTopic.name}}</h1>
              <p class="lead my-3">{{currentTopic.description}}</p>
            </div>
        </div>

        {% if user.is_authenticated %}

            {% if not isUserSubscribed %}
                <form action="." method="post">
                    {% csrf_token %}
                <div class="col" align="right">
                  <button class="btn btn-success btn-sm">Subscribe</button>
                </div>
                </form>
            {% else %}
                <form action="." method="post">
                    {% csrf_token %}
                <div class="col" align="right">
                    <button class="btn btn-warning btn-sm">Unsubscribe</button>
                </div>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="navbar bg-white box-shadow justify-content-center">
        <nav class="nav nav-pills">
            <a class="nav-link {% if postOrder == 'new' %}active{% endif %}" href="{% url 'topic_new' currentTopic.name %}">
                New <i class="far fa-clock"></i>
            </a>
                <a class="nav-link {% if postOrder == 'popular' %}active{% endif %}" href="{% url 'topic_popular' currentTopic.name %}">
                    Popular <i class="fas fa-fire"></i>
                </a>
            <a class="nav-link {% if postOrder == 'top_rated' %}active{% endif %}" href="{% url 'topic_top_rated' currentTopic.name %}">
                Top Rated <i class="fas fa-thumbs-up"></i>
            </a>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Posts:</h1>
                {% for p in items %}
                    {% include "post_preview.html" with post=p%}<br/>
                {% endfor %}
            {% include 'pagination.html' with get_param=param %}
            </div>
            <div class="col-md-4">
            <br/>
            <br/>
                <div class="row">
                    {% if user.is_authenticated %}
                        <div class="col" align="center">
                            {% if request.user == currentTopic.userCreator %}
                                <a href="{% url "topic_create" %}?e={{ currentTopic.name }}" class="btn btn-warning">Edit Topic</a>
                                <br/>
                                <br/>
                            {% endif %}
                            <a href="{% url "create_post" topicName=currentTopic.name %}" class="btn btn-primary">New Post</a>
                        </div>
                    {% endif %}
                </div>
            <br/>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"> Rules </h5>
                                <h6 class="card-subtitle mb-2 text-muted"></h6>
                            </div>
                            <div class="card-body">{{ currentTopic.rules| linebreaksbr }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}