<form method="post" action="." #passwordForm="ngForm" (submit)="passwordForm.form.valid && onChangePassword()">
  <div class="card">
    <div class="card-header bg-secondary text-white">
      <strong> Change Password </strong>
    </div>
    <div class="card-body">
      <table class="table table-user-information">
        <tbody>
        <tr>
          <td>Current Password:</td>
          <td>
            <input name="old_password" type="password" class="form-control" required>
            <div class="validation-summary-errors">
              <!--{{ form.errors.old_password }}-->
            </div>
          </td>
        </tr>
        <tr>
          <td>New Password:</td>
          <td>
            <input name="new_password1" type="password" class="form-control" required>
            <div class="validation-summary-errors">
              <!--{{ form.errors.new_password1 }}-->
            </div>
          </td>
        </tr>
        <tr>
          <td>Confirm New Password: </td>
          <td>
            <input name="new_password2" type="password" class="form-control" required>
            <div class="validation-summary-errors">
              <!--{{ form.errors.new_password2 }}-->
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="float-right">
        <a routerLink="/user/{{ username }}/page" class="btn btn-danger"><i class="fas fa-ban"></i>
          Cancel</a>
        <button type="submit" class="btn btn-success" [disabled]="!passwordForm.form.valid"><i class="fas fa-check"></i> Save Password</button>
      </div>
    </div>
  </div>
</form>
