<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark"
     style="-webkit-box-shadow: 0 3px 4px -2px rgba(0,0,0,0.75); -moz-box-shadow: 0 3px 4px -2px rgba(0,0,0,0.75); box-shadow: 0 3px 4px -2px rgba(0,0,0,0.75);">
  <a class="navbar-brand" routerLink="">Djeddit <i class="far fa-comment-dots"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="new"><i class="fas fa-th-list"></i> New</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="popular"><i class="fas fa-fire"></i> Popular</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="top_rated"><i class="far fa-thumbs-up"></i> Top Rated</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="controversial"><i class="fas fa-comments"></i> Controversial</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="form-inline my-2 my-lg-0 mr-lg-2">
        <div class="input-group">
          <div class="input-group-btn search-panel">
            <div ngbDropdown class="d-inline-block">
              <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
              </button>
              <ul id="filterOptions" class="dropdown-menu" role="menu" ngbDropdownMenu #filter>

                <div class="dropdown-header">Filter by</div>

                <li (click)="onOptionsSelected('topic')"><a id="searchTopicsOption"
                                                            [ngClass]="selectedFilter === 'topic' ? 'btn dropdown-item active' : 'btn dropdown-item'"><i
                  class="far fa-comments"></i> Topics</a></li>

                <li (click)="onOptionsSelected('post')"><a id="searchPostsOption"
                                                           [ngClass]="selectedFilter === 'post' ? 'btn dropdown-item active' : 'btn dropdown-item'"><i
                  class="fas fa-align-left"></i>
                  Posts</a></li>

                <li (click)="onOptionsSelected('user')"><a id="searchUsersOption"
                                                           [ngClass]="selectedFilter === 'user' ? 'btn dropdown-item active' : 'btn dropdown-item'"><i
                  class="fas fa-users"></i>
                  Users</a></li>

              </ul>
            </div>
          </div>
          <input id="searchQuery" class="form-control input-group-append" type="text" #queryText
                 placeholder="Search for..." required>
          <span class="input-group-append">
            <button id="navbarSearchButton" (click)="search(queryText.value)" class="btn btn-primary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </li>


      <li class="nav-item" *ngIf="userIsLoggedIn">
        <a class="nav-link" routerLink="/user/{{ loginProfile.user.username }}/page">
          <i class="far fa-user"></i> {{ loginProfile.user.username }}
        </a>
      </li>
      <li class="nav-item" *ngIf="userIsLoggedIn">
        <a class="nav-link" href="#signIn" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt"></i>Logout
        </a>
      </li>

      <!-- Buttons trigger modal -->
      <a class="nav-link" *ngIf="!userIsLoggedIn" href="#signIn" data-toggle="modal" data-target="#loginModal">
        <i class="fas fa-sign-in-alt"></i> Log In
      </a>
      <a class="nav-link" *ngIf="!userIsLoggedIn" href="#signUp" data-toggle="modal" data-target="#signupModal">
        <i class="fas fa-user-plus"></i> Sign Up
      </a>
    </ul>
  </div>
</nav>


<!-- Log In Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="loginForm" class="form-horizontal" #loginForm="ngForm" (ngSubmit)="login()">
        <div class="modal-body">
          <div class="form-group">
            <div class="container">

              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" disabled>
                    <i class="far fa-user"></i>
                  </button>
                </span>
                <input name="username" [(ngModel)]="loginProfile.user.username" #username="ngModel" class="form-control" type="text" placeholder="Username" required>
              </div>

              <br>

              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" disabled>
                    <i class="fas fa-key"></i>
                  </button>
                </span>
                <input id="login_password" name="password" [(ngModel)]="loginProfile.user.password" #password="ngModel" class="form-control" [type]="showPassword ? 'text' : 'password'"
                       placeholder="Password" required>
                <span class="input-group-append">
                  <button id="show_hide_password" class="btn btn-primary" type="button" (click)="toggleShowPassword()">
                    <i id="icon_show_hide_password" class="far fa-eye-slash"
                       aria-hidden="true"></i>
                  </button>
                </span>
              </div>

              <div id="loginErrorsLog" *ngIf="loading">
                <br>
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal"
                  data-dismiss="modal"><i class="fas fa-user-plus"></i> Go to sign up
          </button>
          <button id="loginButton" [disabled]="!loginForm.form.valid" type="submit" class="btn btn-success">
            <i id="loginButtonIcon" class="fas fa-sign-in-alt" #loginIcon></i>
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Sign Up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="signupForm" (submit)="signUpForm.form.valid && register()" method="post" class="form-horizontal" #signUpForm="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" disabled>
                    <i class="far fa-user"></i>
                  </button>
                </span>
                <input name="username" [(ngModel)]="createdUser.username" class="form-control" type="text" placeholder="Username" required>
              </div>
              <br>
              <p id="usernameErrorsMessage" class="validation-summary-errors" style="display: none"></p>

              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" disabled>
                    <i class="fas fa-font"></i>
                  </button>
                </span>
                <input name="first_name" [(ngModel)]="createdUser.first_name" class="form-control" type="text" placeholder="First Name" required>
                <input name="last_name" [(ngModel)]="createdUser.last_name"  class="form-control" type="text" placeholder="Last Name" required>
              </div>
              <br>
              <p id="nameErrorsMessage" class="validation-summary-errors" style="display: none"></p>

              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-primary" type="button" disabled>
                    <i class="fas fa-envelope"></i>
                  </button>
                </div>
                <input type="email" name="email" [(ngModel)]="createdUser.email"  class="form-control"
                       placeholder="Email" required>
              </div>
              <br>
              <p id="emailErrorsMessage" class="validation-summary-errors" style="display: none"></p>

              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" disabled>
                    <i class="fas fa-key"></i>
                  </button>
                </span>
                <input name="password1" [(ngModel)]="createdUser.password" class="form-control" type="password" placeholder="Password"
                       required>
              </div>
              <br>
              <p id="password1ErrorsMessage" class="validation-summary-errors" style="display: none"></p>

              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" disabled>
                    <i class="fas fa-key"></i>
                  </button>
                </span>
                <input name="password2" class="form-control" type="password"
                       placeholder="Confirm Password" required>
              </div>
              <br>
              <p id="password2ErrorsMessage" class="validation-summary-errors" style="display: none"></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal"
                  data-dismiss="modal"><i class="fas fa-sign-in-alt"></i> Go to login
          </button>
          <button type="submit" class="btn btn-success" [disabled]="!signUpForm.form.valid"><i id="signupButtonIcon" class="fas fa-user-plus"></i>
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Logout Confirmation Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to log out?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="logout()"><i class="fas fa-check"></i> Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="far fa-times-circle"></i> No
        </button>
      </div>
    </div>
  </div>
</div>

